<!DOCTYPE html>
<html lang="en"
th:replace="~{base :: parent(~{::title}, ~{::#content})}">
<head>
    <title data-th-text="${loggedInUser.name}+ ' | Dashboard'">Dashboard</title>
</head>
<body>
    <div id="content">
        <!-- <h1>Welcome to Dashboard</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt velit est, ex consectetur optio minus ab cumque, accusamus odit deleniti harum repellendus reiciendis dolore dolor doloremque saepe numquam explicabo itaque.</p>
        <a data-th-href="@{/logout}">Logout</a> -->
    </div>
    
</body>
</html>