<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::title}, ~{::#content})}">
  <head>
    <title>All Contacts</title>
  </head>
  <body>
    <div id="content" class="pt-20" style="height: 1000px">
      <h1 class="text-2xl flex justify-center flex-col items-center">
        All Your Contacts
      </h1>
      <div class="contacts_container p-5">
        <div class="p-5 relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3 text-center">Profile</th>
                <th scope="col" class="px-6 py-3 text-center">Name</th>
                <th scope="col" class="px-6 py-3 text-center">Number</th>
                <th scope="col" class="px-6 py-3 text-center">Favorite</th>
                <th scope="col" class="px-6 py-3 text-center">LINKS</th>
                <th scope="col" class="px-6 py-3 text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-th-object="${c}"
                data-th-each="c : ${contacts}"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <th
                  scope="row"
                  class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <div class="flex justify-center items-center">
                    <!-- Profile image at left -->
                    <img
                      class="w-10 h-10 rounded-full"
                      data-th-src="${c.getPicture()}"
                      alt="User image"
                    />                    
                  </div>
                </th>

                <td class="px-6 py-4 text-center">
                    <!-- Name and email to the right of image -->
                    <div>
                        <div
                          class="text-base font-semibold"
                          data-th-text="${c.getName()}"
                        >
                          Neil Sims
                        </div>
                        <div
                          data-th-text="${c.getEmail()}"
                          class="font-normal text-gray-500"
                        >
                          neil.sims@flowbite.com
                        </div>
                      </div>
                </td>

                <td class="px-6 py-4 text-center">
                  <i class="fa-solid fa-phone w-4 h-4"></i>
                  <span data-th-text="${c.getPhoneNumber()}"></span>
                </td>
                <td class="px-6 py-4 text-center">
                  <div class="flex justify-center items-center">
                    <div
                      data-th-if="*{favorite}"
                      class="h-4 w-4 rounded-full bg-green-500 me-2"
                    ></div>
                    <div
                      data-th-unless="*{favorite}"
                      class="h-4 w-4 rounded-full bg-red-500 me-2"
                    ></div>
                  </div>
                </td>

                <td class="px-6 py-4">
                  <div class="flex justify-center items-center">
                    <a data-th-href="${c.socialLink}" target="_blank"
                      ><i class="fa-brands fa-linkedin h-6 w-6"></i
                    ></a>
                    <a data-th-href="${c.websiteLink}" target="_blank"
                      ><i class="fa-solid fa-link h-6 w-6"></i
                    ></a>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-center">
                    <a href="#"><i class="fa-solid fa-trash h-6 w-6"></i></a>
                    <a href="#"><i class="fa-solid fa-pen h-6 w-6"></i></a>
                    <a href="#"><i class="fa-solid fa-eye h-6 w-6"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
